.nav {
  display: flex;
}

.nav::after {
  content: '';
  margin: auto 50px;
  height: 95%;
  width: 1px;
  background-color: var(--bg);
}

.item:hover {
  color: var(--main);
}

.mainList {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.subList {
  list-style: none;
  padding-left: 20px;
}

.break {
  content: '';
  margin: 5px auto;
  height: 1px;
  width: 95%;
  background-color: var(--bg);
}
